.body{
	font-family: Arial;
}
.desktop{
	width : 100%;
	height : 100%;
	background-color: #B0B0B0;
	
}

.taskbar{
	background-color: #7D7D7D;
	/*border-top-right-radius: 10px;
	border-top-left-radius: 10px;*/
}

.icon{

	background-color: #7D7D7D;
	border-radius:10px;
	position: absolute;
	cursor: pointer;
	
}
.icon div{

	font-size: 11pt;
	margin-top: 4px;
	
}