.window{
	background-color: #B0B0B0;
	position: absolute;
	border: 2px solid #7D7D7D;
	border-radius:15px;
}
.systemBar{
	background-color: #7D7D7D;
	width: 100%;
	position: absolute;
	top: 0;
	border-top-right-radius:14px;
	border-top-left-radius:14px;
}

.notification {
	width: 100%;
	
}

.content{
	font-size: 12pt;
	width: 100%
}

.statusBar{
	background-color: #7D7D7D;
	width: 100%;
	bottom: 0;
	position: absolute;
	border-bottom-right-radius:14px;
	border-bottom-left-radius:14px;

}